#stand-section {
    @include tamaño(100%, 80vh);

    @include flex(row-reverse, center, center);

    #stand-text {
        @include tamaño(50%, 100%);
        @include flex(row, center, center);

        div {
            @include tamaño(64%, 100%);
            @include flex(column, center, start);

            h2 {
                font-size: 3rem;
            }

            p {
                font-size: $tamanio-parrafo;
                margin: 2.5rem 0;
                font-weight: 100;
                line-height: $separacion-parrafo;
            }

            span {
                text-transform: uppercase;
                font-weight: bolder;
            }
        }
    }

    #stand-image {
        @include tamaño(50%, 100%);
        @include imagenComoBackground("../imagenes/image-stand-out.jpg", cover);
    }
}