@media (max-width:480px) {
    header nav {
        ul {
            display: none;
        }

        #barra-menu {
            display: inline-block;
        }
    }

    #transform-section {
        @include flex(column-reverse, center, center);
        @include tamaño(100%, 100vh);

        #transform-text {
            @include tamaño(100%, 50%);
            text-align: center;

            div {
                align-items: center;
            }
        }

        #transform-image {
            @include tamaño(100%, 50%);
        }
    }

    #stand-section {
        @include flex(column-reverse, center, center);
        @include tamaño(100%, 120vh);

        #stand-text {
            @include tamaño(100%, 50%);
            text-align: center;

            div {
                align-items: center;
            }
        }

        #stand-image {
            @include tamaño(100%, 50%);
        }
    }

    #services-section {
        @include flex(column, center, center);

        @include tamaño(100%, 140vh);

        #services-graphic_design {
            @include tamaño(100%, 50%);
        }

        #services-photography {
            @include tamaño(100%, 50%);
        }
    }

    #testimonial-section {
        @include tamaño(100%, 180vh);

        @include flex(column, center, center);

        h4 {
            font-size: 1rem;
            height: 10%;
            margin: 0;
            @include flex(row, center, center);
            word-spacing: 0;
        }

        #testimonial-container {
            @include flex(column, center, center);
            height: 90%;
            gap: 0;

            div {
                @include tamaño(100%, 100%/3);

                p {
                    margin: 2rem 0;
                }
            }
        }

    }

    #gallery-section {
        @include tamaño(100%, 60vh);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    footer {
        ul {
            width: 100%;
        }

        #social-container {
            width: 50%;
            justify-content: space-between;
        }
    }
}