$tamanio-parrafo: 1.2rem;
$separacion-parrafo: 1.8rem;
$tamanio-parrafo-tablets: 1rem;

@mixin tamaño($a, $b) {
    width: $a;
    height: $b;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin imagenComoBackground($a, $b) {
    background-image: url($a);
    background-size: $b;
    background-position: center;
}



@import "general-styles";
@import "header";
@import "transform-section";
@import "stand-section";
@import "services-section";
@import "testimonial-section";
@import "gallery-section";
@import "footer";
@import "styles-tablet";
@import "styles-phone";