* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$tamanio-parrafo: 1.2rem;
$separacion-parrafo: 1.8rem;
$tamanio-parrafo-tablets: 1rem;

@mixin tamaño($a, $b) {
    width: $a;
    height: $b;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin imagenComoBackground($a, $b) {
    background-image: url($a);
    background-size: $b;
    background-position: center;
}

body {
    min-width: 80vw;
    height: auto;
    @include flex(column, center, center)
}




header {
    @include tamaño(100%, 110vh);

    @include imagenComoBackground("../imagenes/image-header.jpg", cover);

    h1 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-size: 3rem;
        margin-top: 4rem;
        letter-spacing: 0.5rem;
    }

    nav {
        @include flex(row, space-between, center);
        @include tamaño(100%, 14vh);
        padding: 0 25px;

        ul {
            @include flex(row, space-evenly, center);
            list-style: none;
            width: 40%;

            a {
                text-decoration: none;
            }

            li {
                color: white;
                font-size: 1.2rem;
            }

            #contact-button {
                background-color: white;
                color: black;
                border-radius: 25px;
                padding: 15px 30px;
                text-transform: uppercase;
            }

            #contact-button:hover {
                background-color: #6eceff;
                color: white;
                transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }


        }
    }
}

#transform-section {
    @include tamaño(100%, 80vh);

    @include flex(row, center, center);

    #transform-text {
        @include tamaño(50%, 100%);
        @include flex(row, center, center);

        div {
            @include tamaño(64%, 100%);
            @include flex(column, center, start);

            h2 {
                font-size: 3rem;
            }

            p {
                font-size: $tamanio-parrafo;
                margin: 2.5rem 0;
                font-weight: 100;
                line-height: $separacion-parrafo;
            }

            span {
                text-transform: uppercase;
                font-weight: bolder;
            }
        }
    }

    #transform-image {
        @include tamaño(50%, 100%);
        @include imagenComoBackground("../imagenes/image-transform.jpg", cover);
    }
}

#stand-section {
    @include tamaño(100%, 80vh);

    @include flex(row-reverse, center, center);

    #stand-text {
        @include tamaño(50%, 100%);
        @include flex(row, center, center);

        div {
            @include tamaño(64%, 100%);
            @include flex(column, center, start);

            h2 {
                font-size: 3rem;
            }

            p {
                font-size: $tamanio-parrafo;
                margin: 2.5rem 0;
                font-weight: 100;
                line-height: $separacion-parrafo;
            }

            span {
                text-transform: uppercase;
                font-weight: bolder;
            }
        }
    }

    #stand-image {
        @include tamaño(50%, 100%);
        @include imagenComoBackground("../imagenes/image-stand-out.jpg", cover);
    }
}

#services-section {
    @include tamaño(100%, 80vh);
    @include flex(row, center, center);

    #services-graphic_design {
        @include tamaño(50%, 100%);
        @include imagenComoBackground("../imagenes/image-graphic-design.jpg", cover);
        @include flex(row, center, center);

        div {
            @include tamaño(60%, 100%);
            @include flex(column, center, center);
            margin-top: 16rem;
            text-align: center;

            h3 {
                font-size: 2rem;
            }

            p {
                font-size: $tamanio-parrafo;
                margin-top: 2rem;
                text-align: center;
                line-height: $separacion-parrafo;
            }
        }
    }

    #services-photography {
        @include tamaño(50%, 100%);
        @include imagenComoBackground("../imagenes/image-photography.jpg", cover);

        @include flex(row, center, center);

        div {
            @include tamaño(60%, 100%);
            @include flex(column, center, center);
            margin-top: 16rem;
            text-align: center;

            h3 {
                font-size: 2rem;
            }

            p {
                font-size: $tamanio-parrafo;
                margin-top: 2rem;
                text-align: center;
                line-height: $separacion-parrafo;
            }
        }
    }
}

#testimonial-section {
    @include tamaño(100%, 100vh);
    @include flex(column, center, center);

    h4 {
        font-size: 2rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        word-spacing: 0.6rem;
    }

    #testimonial-container {
        @include flex(row, space-evenlys, center);
        @include tamaño(80%, 60%);
        gap: 30px;

        div {
            @include tamaño(100%/3, 100%);
            @include flex(column, center, center);

            gap: 0.6rem;

            img {
                width: 40%;
                border-radius: 50%;
            }

            p {
                margin: 4rem 0;
                text-align: center;
                font-size: $tamanio-parrafo;
                line-height: $separacion-parrafo;
            }

            h5 {
                font-size: $tamanio-parrafo;
            }
        }
    }

}

#gallery-section {
    @include tamaño(100%, 70vh);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    #img-1 {
        @include imagenComoBackground("../imagenes/image-gallery-milkbottles.jpg", cover)
    }

    #img-2 {
        @include imagenComoBackground("../imagenes/image-gallery-orange.jpg", cover)
    }

    #img-3 {
        @include imagenComoBackground("../imagenes/image-gallery-cone.jpg", cover)
    }

    #img-4 {
        @include imagenComoBackground("../imagenes/image-gallery-sugarcubes.jpg", cover)
    }
}

footer {
    @include tamaño(100%, 40vh);
    background-color: aquamarine;
    @include flex(column, space-evenly, center);

    icono {
        color: aquamarine;
    }

    ul {
        list-style: none;
        @include flex(row, space-evenly, center);
        width: 30%;


        a {
            text-decoration: none;
            color: #2c7566;
            font-weight: 900;
        }

        a:hover {
            color: white;
            transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }

    svg:hover path {
        fill: white;
    }

    #social-container {
        width: 20%;
        @include flex(row, space-evenly, center);
    }
}

@media (max-width:768px) {
    header {
        nav {
            ul {
                width: 60%;
                gap: 8px;
            }
        }
    }

    #transform-section {
        #transform-text {
            div {
                h2 {
                    font-size: 2rem;
                }

                p {
                    font-size: $tamanio-parrafo-tablets;
                }
            }
        }
    }

    #stand-section {
        #stand-text {
            div {
                h2 {
                    font-size: 2rem;
                }

                p {
                    font-size: $tamanio-parrafo-tablets;
                }
            }
        }
    }

    #services-section {
        #services-graphic_design {
            div {
                p {
                    font-size: $tamanio-parrafo-tablets;
                }
            }
        }

        #services-photography {
            div {
                p {
                    font-size: $tamanio-parrafo-tablets;
                }
            }
        }
    }

    footer {
        ul {
            width: 50%;
        }

        #social-container {
            width: 40%;
        }
    }
}



@media (max-width:480px) {
    header nav {
        ul {
            display: none;
        }
    }

    #transform-section {
        @include flex(column-reverse, center, center);
        @include tamaño(100%, 100vh);

        #transform-text {
            @include tamaño(100%, 50%);
            text-align: center;

            div {
                align-items: center;
            }
        }

        #transform-image {
            @include tamaño(100%, 50%);
        }
    }

    #stand-section {
        @include flex(column-reverse, center, center);
        @include tamaño(100%, 120vh);

        #stand-text {
            @include tamaño(100%, 50%);
            text-align: center;

            div {
                align-items: center;
            }
        }

        #stand-image {
            @include tamaño(100%, 50%);
        }
    }

    #services-section {
        @include flex(column, center, center);

        @include tamaño(100%, 140vh);

        #services-graphic_design {
            @include tamaño(100%, 50%);
        }

        #services-photography {
            @include tamaño(100%, 50%);
        }
    }

    #testimonial-section {
        @include tamaño(100%, 180vh);

        @include flex(column, center, center);

        h4 {
            font-size: 1rem;
            height: 10%;
            margin: 0;
            @include flex(row, center, center);
            word-spacing: 0;
        }

        #testimonial-container {
            @include flex(column, center, center);
            height: 90%;
            gap: 0;

            div {
                @include tamaño(100%, 100%/3);

                p {
                    margin: 2rem 0;
                }
            }
        }

    }

    #gallery-section {
        @include tamaño(100%, 60vh);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    footer {
        ul {
            width: 100%;
        }

        #social-container {
            width: 50%;
            justify-content: space-between;
        }
    }
}